<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="public/css/bootstrap-theme.css">
    <link rel="stylesheet" href="public/css/bootstrap.css">
    <script src="public/js/jquery.1.10.2.min.js"></script>
    <script src="public/js/bootstrap.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/index.js"></script>
    <style>
        em,b,i{
            font-style: normal;
        }
        .top {
            position: relative;
        }

        .ban {
            width: 100%;
            height: auto;
            min-width: 960px;
            min-height: 205px;
        }
        .lo {
            width: 150px;
            height: 100px;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            margin-left: -75px;
        }
        @media (max-width: 960px) {
            .top {
                height: 205px;
            }
            .ban {
                position: absolute;
                left: 50%;
                margin-left: -480px;
            }
        }
        .main{
            background: #ececec;
            padding-top: 20px;
        }
        .navbar {
            margin-bottom: 0;
        }
        .or{
            background: #a0afb9;
            color: #ffffff;
        }
        .thumbnail h3,
        .thumbnail span,
        .thumbnail p,
        .thumbnail h4,
        .thumbnail a{
            margin: 10px 20px;
        }
        .thumbnail a{
            border-radius: 0;
            padding: 5px 10px;
        }
        .thumbnail span{
            display: block;
        }
        .thumbnail span em{
            color: #269abc;
            font-size: 12px;
        }
        .thumbnail p.two{
            padding: 0 15px
        }
        .main-foot i{
            display: inline-block;
            width: 37%;
            text-align: left;
            margin: 10px 0;
        }
        .main-foot span{
            display: inline-block;
            width: 37%;
            text-align: right;
            margin: 10px 0;
        }
        .main-foot b{
            display: inline-block;
            width: 20%;
            margin: 10px 0;
        }

        .main h3.border-bottom {
            padding: 10px 0;
            border-bottom: #a0afb9 1px solid;
            position: relative;
            font-size: 18px;
        }
        .main h3.border-bottom:after{
            content: '';
            border-bottom: #f4655f 1px solid;
            width: 100px;
            position: absolute;
            left: 0;
            bottom: -1px;
        }
        .thumbnail p.red{
            color: red;
        }
        .thumbnail p a{
            text-decoration: underline;
            padding: 0;
            margin: 0;
        }
        .form-horizontal{
            padding: 10px 20px;
        }
        .pad-right1{
            padding: 0;
        }
        .right-load{
            width: 100%;
        }
        .right-now{
            width: 100%;
            text-align: right;
        }
        .right-now a{
            text-decoration: underline;
            color: #46b8da;
            padding: 0;
            margin: 0;
        }
        .right-last a{
            color: red;
        }

        .last {
            background: #111111;
        }

        .last p {
            padding: 25px 0 15px 0;
            color: #959595;
        }
        #codeshow{
            height: 50px;
            background: #999;
            color: #239ae6;
            text-align: center;
            padding: 10px 20px;
            display: none;
        }
    </style>
</head>
<body>
<div class="top text-center">
    <img class="ban" src="public/image/timg.jpg" alt="ban">
    <img class="lo" src="public/image/logo.jpg" alt="LOGOL">
</div>
<!--banner-end-->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">首页</a>
        </div>
        <div class="collapse navbar-collapse  text-center" id="bs-example-navbar-collapse-1">
            <ul class="text-center nav navbar-nav">
                <%for(var i=0;i<name.length;i++){%>
                <li><a href="#"><%=name[i].name%></a></li>
                <%}%>
            </ul>
        </div>
    </div>
</nav><!--nav-end-->

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-xs-12 col-md-7">
                <%for (var i=info2.length-1;i>=0;i--){%>
                <div class="thumbnail">
                    <h3 class="text-center"><%=info2[i].title%></h3>
                    <span class="text-center">作者：<em>admin</em>时间：<em> <%=info2[i].data.toLocaleDateString()%></em>阅读：<em><%=info2[i].read%></em> 评论：<em><%=info2[i].comments.length%></em></span>
                    <p><%=info2[i].int%></p>
                    <a href="javascript" class="btn or" role="button">阅读全文</a>
                </div>
                <%}%>
                <div class="thumbnail main-foot text-center">
                    <%if (page==1) {%>
                    <a href="javascript:;">没有上一页了</a>
                    <%}else {%>
                    <a href="/index?page=<%=page-1%>">上一页</a>
                    <%}%>
                    <b><%=page%>/<%=pages%></b>
                     <%if (page==pages){%>
                    <a href="javascript:;">没有下一页</a>
                    <%}else {%>
                        <a href="/index?page=<%=page+1%>">下一页</a>
                    <%}%>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 col-md-4">
                <%if(usersinfo._id){%>
                <div class="thumbnail" id="admin" >
                    <h3 class="border-bottom">用户信息</h3>
                    <div class="caption right-1">
                        <p><%=usersinfo.username%></p>
                        <%if(usersinfo.isAdmin){%>
                        <p class="red">你好，你是管理员 <a class="red1" href="/admin/userslist">你可以点击这里进入管理</a></p>
                        <%} else{%>
                            <p class="red">你好，欢迎登录 </p>
                        <%}%>
                        <p><a class="red1" href="javascript:;" id="logout">退出</a></p>
                    </div>
                </div>
                <%} else{%>
                <div class="thumbnail" id="login" >
                    <h3 class="border-bottom">下载</h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label pad-right1">用户名:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputEmail3" placeholder="Email" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label pad-right1">密码:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  class="btn btn-default right-load or" id="logino">登录</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="right-now">还没注册？<a href="JavaScript:;" id="admin1">马上注册</a></div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="thumbnail" id="zhuce" style="display: none">
                    <h3 class="border-bottom">文档</h3>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label for="inputEmail3" class="col-sm-2 control-label pad-right1">用户名:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Email" id="user">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label pad-right1">密码:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control"  placeholder="Password" id="pass">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword3" class="col-sm-2 control-label pad-right1">确认:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control"  placeholder="Password" id="repass">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button  class="btn btn-default right-load or" id="reg">注册</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="right-now">已有帐号？<a href="JavaScript:;" id="login1">马上登录</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <%}%>
                <p id="codeshow"></p>
                <div class="thumbnail">
                    <h3 class="border-bottom">社区</h3>
                    <div class="caption right-last">
                        <p><a class="red" href="javascript:;">广州本田</a></p>
                        <p><a class="red" href="javascript:;">广州本田</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!--content-end-->
<div class="container-fluid last">
    <p class="text-center">Copyright © Laravel 中文网 | 京ICP备11008151号 | 京公安网备11010802014853</p>
</div><!--footer-end-->
</body>
</html>